<div>
  <div id="formContainer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card-body">
            <h4>Enter your registered mail id:</h4>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              id="forgotemail"
            />
            <br />
            <button
              class="btn btn-primary btn-block"
              onclick="forgotPassword()"
              id="forgotPassword"
            >
              Check your mail to reset password
            </button>
            <br />
            <a routerLink="/login"> Ready to sign In? Click here.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
